@tailwind base;
@tailwind components;
@tailwind utilities;

#textGradiant {
    background: -webkit-linear-gradient(left, #8650F6, #2A1455);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#textOutline>div {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #8650F6;
    animation: textOutline 1.5s alternate infinite ease-in-out;
}

@keyframes textOutline {100% {transform: scale(1.1);}}